@model IEnumerable<BlogWebsite.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            await genderCatergory(item,0);
        }
    </tbody>
</table>

@{
    async Task genderCatergory(Category item,int level)
    {
        String prefix = string.Concat(Enumerable.Repeat("&nbsp;&nbsp;&nbsp;&nbsp;", level)); //tao chuoi * lap lai x lan
        <tr>
            <td>
                  @Html.Raw(prefix) <a asp-action="Edit" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a> |

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

        if(item.CategoryChildren?.Count>0)
        {// neu co category con thi hien thi 
            foreach(var cCategory in item.CategoryChildren)
            {
               await genderCatergory(cCategory, level + 1);
            }

        }
    }
}